@model AspnetCoreMvcFull.ViewModels.LaptopViewModel

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Add New Laptop";
    @section PageStyles {
        <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
    }
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Add laptop Form -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="~/assets/img/ministrylogo.png" alt="App Logo">
                            </span>
                            <span class="app-brand-text demo text-heading fw-bold"></span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 style="direction:rtl" class="mb-1">أهلا بك, @TempData.Peek("developerName")!</h4>
                    <h4 style="direction:rtl" class="mb-1">إضافة جهاز لابتوب جديد إلى مدرستك </h4>
                    <p style="direction:rtl" class="mb-6">يرجى ملء النموذج أدناه لإضافة جهاز جديد</p>

                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success" style="direction: rtl;">
                            @ViewBag.SuccessMessage
                        </div>
                    }

                    <form id="formAddSystem" class="mb-6" action="/Dashboards/AddLaptop" method="POST" enctype="multipart/form-data">
                        <div style="direction:rtl" class="mb-6">
                            <label for="BrandID" class="form-label">ماركة الجهاز</label>
                            <select class="form-control" id="BrandID" name="BrandID" required>
                                <option value="" disabled selected>اختر الماركة</option>
                                @foreach (var brand in ViewBag.Brands ?? Enumerable.Empty<Brand>())
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            </select>
                        </div>
                        <div style="direction:rtl" class="mb-6">
                            <label for="ModelID" class="form-label">الموديل</label>
                            <select class="form-control" id="ModelID" name="ModelID" required>
                                <option value="" disabled selected>اختر الموديل</option>
                                @foreach (var modell in ViewBag.Models ?? Enumerable.Empty<Modell>())
                                {
                                    <option value="@modell.Id">@modell.Name</option>
                                }
                            </select>
                        </div>
                        <div style="direction:rtl" class="mb-6">
                            <label for="LabID" class="form-label">المختبر</label>
                            <input type="text" class="form-control" id="LabID" name="LabID" placeholder="ادخل رقم المختبر">
                        </div>
                        <div style="direction:rtl" class="mb-6">
                            <label for="SerialNumber" class="form-label">الرقم التسلسلي</label>
                            <input type="text" class="form-control" id="SerialNumber" name="SerialNumber" placeholder="ادخل الرقم التسلسلي">
                        </div>
                        <div style="direction:rtl" class="mb-6">
                            <label for="RAM" class="form-label">RAM</label>
                            <input type="text" class="form-control" id="RAM" name="RAM" placeholder="ادخل سعة الذاكرة RAM">
                        </div>
                        <div style="direction:rtl" class="mb-6">
                            <label for="Processor" class="form-label">المعالج</label>
                            <select class="form-control" id="Processor" name="Processor" required>
                                <option value="" disabled selected>اختر نوع المعالج</option>
                                <option value="i3">i3</option>
                                <option value="i5">i5</option>
                                <option value="i7">i7</option>
                                <option value="i9">i9</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>


                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit">إضافة</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="/Dashboards/Laptop" class="btn btn-primary">الرجوع الى الأجهزة</a>
                    </div>
                </div>
            </div>
            <!-- /Add laptop Form -->
        </div>
    </div>
</div>
